/* 全体のスタイル */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS Ｐ明朝", "MS PMincho", serif;
    overflow: hidden;
    writing-mode: vertical-rl; /* 縦書きに設定 */
}

@page {
    size: A2 landscape; /* A2横長 */
}

.content {
    position: relative;
    width: 100%;
    height: 100%;
}

.page {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 0% ;
}

.page-cross {
    position: absolute;
    top: 0%;
    right: 0%;
    width: 100%;
    height: 70%;
    margin: 0%;
}

.page-14 {
    position: absolute;
    width: 45%;
    height: 25%;
    overflow: hidden;
    right: 0;
    margin: 0%;
    bottom: 0%;
}

.page-15 {
    position: absolute;
    width: 45%;
    height: 25%;
    left: 0;
    bottom: 0%;
    overflow: hidden;
}

.page-cross-right {
    position: absolute;
    width: 70%;
    height: 100%;
    overflow: hidden;
    top: 0%;
    transform: translate(0, 0);
    right: 0;
}

.page-cross-left {
    width: 25%;
    height: 100%;
    overflow: hidden;
    top: 0%;
    position: absolute;
    transform: translate(0, 0);
    left: 0;
}

.image1 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    position: absolute;
    transform: translate(0, 0);
    right: 0;
}

.image2 {
    width: 100%;
    height: 30%;
    overflow: hidden;
    top: 35%;
    position: absolute;
    transform: translate(0, 0);
    right: 0;
}

.image3 {
    width: 100%;
    height: 30%;
    overflow: hidden;
    top: 70%;
    position: absolute;
    transform: translate(0, 0);
    right: 0;
}

.text-block1 {
    position: absolute;
    top: 5%;
    right: 20%;
    font-size: 48pt;
    width: 20%;
    height: 80%;
    color: black;
    font-weight: bold;
    font-family: "MS Gothic", "ＭＳ ゴシック", monospace;
    pointer-events: auto;
    margin: 0;
}

.text-block2 {
    position: absolute;
    top: 0;
    right: 0%;
    font-size: 10pt;
    width: 100%;
    height: 30%;
    color: black;
    pointer-events: auto;
    margin: 0;
}

.text-block3 {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12pt;
    width: 100%;
    height: 100%;
    color: black;
    pointer-events: auto;
    margin: 0;
}

.text-block4 {
    position: absolute;
    top: 0;
    right: 0%;
    font-size: 12pt;
    width: 100%;
    height: 100%;
    color: black;
    pointer-events: auto;
    margin: 0;
}

