<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="quote-spread.css">
</head>
<body>
    <div class="content">
        <div class="page">
            <img src="kenji_images/568183812.926379.jpg" alt="" class="image1">
            <div class="text">
                <p class="text-block1">
                    「どんなに賢くても、 <br>
                    人間は自分の背中を見ることはできない」
                </p>
                <p class="text-block2">
                    山本周五郎
                </p>
            </div>
        </div>
    </div>
</body>
</html>
