node_modules
<<<<<<<< HEAD:template-editor/.gitignore
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
========
.env
>>>>>>>> 8916ad128ef983fc83dfbb8abe1a7cc4f9340bf2:.gitignore
