<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>A4ページの縦書きサンプル</title> -->
    <link rel="stylesheet" href="minimal-single.css">
</head>
<body>
    <div class="content">
        <div class="page">
            <img src="kenji_images/中論2.jpg" alt="" class="image1">
            <div class="text">
                <p class="text-block1">
                   「迷い」
               </p>
            </div>
        </div>
    </div>
</body>
</html>
