<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>A4ページの縦書きサンプル</title> -->
    <link rel="stylesheet" href="title-page.css">
</head>
<body>
    <div class="content">
        <div class="image-container">
            <img src="kenji_images/IMG_1015.JPG" alt="背景画像">
        </div>
        <p class="text-block1">
            音楽と論理と死体
        </p>
        <p class="text-block2">
            近藤憲児
        </p>
    </div>
</body>
</html>
