<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>A4ページの縦書きサンプル</title> -->
    <link rel="stylesheet" href="image-text-single.css">
</head>
<body>
    <div class="content">
        <div class="top">
            <img src="kenji_images/IMG_0948.JPG" alt="" class="image1">
        </div>
        <div class="bottom-right">
            <img src="kenji_images/568184862.428872.jpg" alt="" class="image2">
            <img src="kenji_images/IMG_0127.JPG" alt="" class="image3">
            <p class="text-block1">
                近藤さんの家族構成は、お姉さんが2つ上で、弟が5つ下。特に弟は東京で音楽の道を追求しており、1ヶ月に1回のペースで曲とミュージックビデオをリリースしている。その活動は近藤さんにとっても非常に印象的で、弟の曲は「いい曲」と評価している。音楽に対する近藤さん自身の関わりは、学生時代から続いているようで、その背景にはお母さんや家計、周囲の影響が大きいと語っている。お母さんは教育方針として「親が教えない」というスタンスを取っていたが、それでも音楽は近藤さんの生活に密接に関わっていた。中学校や高校の演奏会で音響スタッフとして働いた経験もあり、そのような場で機材を運んだりしていた。
            </p>
        </div>
        <div class="bottom-left">
            <img src="kenji_images/568184673.369354.jpg" alt="" class="image4">
            <img src="kenji_images/568185301.209431.jpg" alt="" class="image5">
        </div>
    </div>
</body>
</html>
